<div>
    Login
    <h1>{{error}}</h1>

    <form method="POST" action="/account/checkLogin">
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
      <button type="submit">Login</button>
    </form>
      <a  href="/account/forgorPass">Forgot Password?</a>
      <a  href="/account/created">Create New Account</a>
</div>