<form action="/add/newSong" method="post" enctype="multipart/form-data">
  Name Song<input type="text" name="nameSong" />
  Name Artist<input type="text" name="nameArtist" />
  Image<input type="file" name="img" />
  Song Mp3 <input type="file" name="mp3"/>
  <button type="submit">Add</button>
</form>